<div class="jumbotron">
    <h1>WELCOME TO LEFTOVER SAVER!</h1>
    <div class="login">
        <label for="username">USERNAME:</label>
        <input type="text" ng-model="data.username" placeholder="USERNAME">
        <label for="password">PASSWORD:</label>
        <input type="password" ng-model="data.password" placeholder="PASSWORD">
        <label for="email">EMAIL:</label>
        <input type="email" ng-model="data.contact.email" ng-required="!(data.contact.email || data.contact.number)" placeholder="EMAIL">
        <label for="phone number">PHONE NUMBER:</label>
        <input type="tel" ng-model="data.contact.phoneNumber" ng-required="!(data.contact.email || data.contact.number)" placeholder="PHONE NUMBER">
        <label for="mobile provider">MOBILE PROVIDER:</label>
        <input type="text" ng-model="data.contact.mobileProvider" placeholder="MOBILE PROVIDER">
        <button ng-click="submitContact()">SUBMIT</button>
    </div>
</div>
